<!DOCTYPE html>
<html>
    <head>
        <title>Billboard Search</title>

        <style>
            body{
                margin: 0;
                background-color: beige;
            }
            input {
                width: 100%;
            }
            #main{
                width: 80%;
            }
        </style>
    </head>

    <body>
        <section>
            <div id="main">
                <form>
                    <input type="text" id="word" name="word">
                    <button>
                        Search
                    </button>
                </form>
            </div>
        </section>
    </body>
</html>