<!DOCTYPE html>
    <html>
        <head>
            <title>
                Spring 2020 Classes
            </title>
        </head>

        <body>
            <table width="100%">
                <tbody>
                <tr>
                <td colspan="6">
                <p><strong>Spring 2020 Student Schedule by Class</strong></p>
                </td>
                </tr>
                <tr>
                <td>
                <p><strong><u>Class</u></strong></p>
                </td>
                <td>
                <p><strong><u>Grading</u></strong></p>
                </td>
                <td>
                <p><strong><u>Instructor</u></strong></p>
                </td>
                <td>
                <p><strong><u>Day</u></strong></p>
                </td>
                <td>
                <p><strong><u>Time/Location</u></strong></p>
                </td>
                <td>
                <p><strong><u>Start/End</u></strong></p>
                </td>
                </tr>
                <tr>
                <td>
                <p>COMS&nbsp;3134 W sec&nbsp;001<br /><strong>DATA STRUCTURES IN JAVA</strong></p>
                </td>
                <td>
                <p>Letter&nbsp;Grd<br /> 3.00(Fix)</p>
                </td>
                <td>
                <p>Paul&nbsp;Blaer<br /><a href="mailto:pblaer@columbia.edu">pblaer@columbia.edu</a></p>
                </td>
                <td>
                <p>Mo We</p>
                </td>
                <td>
                <p>5:40pm-6:55pm<br /> 417 INT'L AFFAIR</p>
                </td>
                <td>
                <p>01/21/20<br /> 05/04/20</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>ENGI&nbsp;1006 E sec&nbsp;001<br /><strong>INTRO TO COMP FOR ENG/APP</strong></p>
                </td>
                <td>
                <p>Letter&nbsp;Grd<br /> 3.00(Fix)</p>
                </td>
                <td>
                <p>Timothy&nbsp;Paine<br /><a href="mailto:tkp2108@columbia.edu">tkp2108@columbia.edu</a></p>
                </td>
                <td>
                <p>Tu Th</p>
                </td>
                <td>
                <p>5:40pm-6:55pm<br /> 301 PUPIN</p>
                </td>
                <td>
                <p>01/21/20<br /> 05/04/20</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>ENGL&nbsp;1010 CC&nbsp;sec&nbsp;540<br /><strong>UW: Readings in Data &amp; So</strong></p>
                </td>
                <td>
                <p>Letter&nbsp;Grd<br /> 3.00(Fix)</p>
                </td>
                <td>
                <p>Adrianna&nbsp;Munson<br /><a href="mailto:amb2336@columbia.edu">amb2336@columbia.edu</a></p>
                </td>
                <td>
                <p>Tu Th</p>
                </td>
                <td>
                <p>1:10pm-2:25pm<br /> 408A PHILOSOPHY</p>
                </td>
                <td>
                <p>01/21/20<br /> 05/04/20</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>MATH&nbsp;1102 UN&nbsp;sec&nbsp;002<br /><strong>CALCULUS II</strong></p>
                </td>
                <td>
                <p>Letter&nbsp;Grd<br /> 3.00(Fix)</p>
                </td>
                <td>
                <p>Semen&nbsp;Rezchikov<br /><a href="mailto:skr2158@columbia.edu">skr2158@columbia.edu</a></p>
                </td>
                <td>
                <p>Mo We</p>
                </td>
                <td>
                <p>2:40pm-3:55pm<br /> 407 MATHEMATICS</p>
                </td>
                <td>
                <p>01/21/20<br /> 05/04/20</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>PHYS&nbsp;1402 UN&nbsp;sec&nbsp;001<br /><strong>INTRO ELEC/MAGNETSM &amp; OPT</strong></p>
                </td>
                <td>
                <p>Letter&nbsp;Grd<br /> 3.00(Fix)</p>
                </td>
                <td>
                <p>Georgia&nbsp;Karagiorgi<br /><a href="mailto:gsk2112@columbia.edu">gsk2112@columbia.edu</a></p>
                </td>
                <td>
                <p>Mo We</p>
                </td>
                <td>
                <p>1:10pm-2:25pm<br /> 301 PUPIN</p>
                </td>
                <td>
                <p>01/21/20<br /> 05/04/20</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>PHYS&nbsp;1405 UN&nbsp;sec&nbsp;004<br /><strong>INTRO ELEC/MAGNETSM/OPT</strong></p>
                </td>
                <td>
                <p>No&nbsp;Grade<br /> 0.00(Fix)</p>
                </td>
                <td>
                <p>Georgia&nbsp;Karagiorgi<br /><a href="mailto:gsk2112@columbia.edu">gsk2112@columbia.edu</a></p>
                </td>
                <td>
                <p>Th</p>
                </td>
                <td>
                <p>7:10pm-8:00pm<br /> 414 PUPIN</p>
                </td>
                <td>
                <p>01/21/20<br /> 05/04/20</p>
                </td>
                </tr>
                </tbody>
                </table>

        </body>
    </html>